[Desktop Entry]
Type=Application
Name=SpeedNote
Comment=Saisie des notes et appréciations
Exec=__APP_DIR__/bin/demarrer-speednote.sh
Icon=accessories-text-editor
Terminal=false
Categories=Education;
