[Desktop Entry]
Type=Application
Name=Arrêter SpeedNote
Comment=Arrête l'application SpeedNote et verrouille les données
Exec=__APP_DIR__/bin/arreter-speednote.sh
Icon=system-log-out
Terminal=false
Categories=Education;
